<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="myconstring" connectionString="Server=DESKTOP-B4HPB86\SQLEXPRESS; Database=voting system; Trusted_Connection=True;"
   providerName="System.Data.SqlClient" />
  <add name="votingsystem.Properties.Settings.voting_systemConnectionString"
   connectionString="Data Source=DESKTOP-B4HPB86\SQLEXPRESS;Initial Catalog=&quot;voting system&quot;;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>